<h1>Makersbnb</h1>

 <%= flash[:notice] %>

<h2>Log in to an existing account</h2>
<form action="/user/login" method="post">
  <label for="email">
    Email
    <input type="text" name="email" placeholder="enter email">
  </label>
  <br>
  <label for="password">
    Password
    <input type="text" name="password" placeholder="enter password">
  </label>
  <input type="submit" value="Log in">
</form>

<h4>or</h4>


<a href="/user/signup">Don't have an account? Sign up here.</a>

