<h1>Makersbnb</h1>

<h2>Create an account</h2>

<form action="/user/create" method="post">
  <label for="user_id">
    Username
    <input type="text" name="user_id">
  </label>
  <label for="password">
    Password
    <input type="text" name="password">
  </label>
  <input type="submit" value="Create account">
</form>

