<h1>Makersbnb</h1>

<h2>Add a new venues to the website</h2>

<form action="/venues/create" method="post">
  <input type="number" name="user_id" placeholder="User ID">
  <input type="text" name="venue_name" placeholder="Name of venue">
  <input type="text" name="description" placeholder="Description">
  <input type="text" name="price_per_night" placeholder="Price per night">
  <input type="text" name="date" placeholder="Date">
  <input type="submit" value="Submit">
</form>