<h2>New venue</h2>

<form method="post" action="/venues">
  <input type="number" name="user_id" placeholder="User ID">
  <input type="text" name="venue_name" placeholder="Name of venue">
  <input type="text" name="description" placeholder="Description">
  <input type="text" name="price_per_night" placeholder="Price per night">
  <input type="text" name="date" placeholder="Date">
  <input type="submit" value="Submit">
</form>