<h2>New venue</h2>

<form method="post" action="/venues">
  <input type="text" name="venue_name" placeholder="Name of venue">
  <input type="number" name="user_id" placeholder="User ID">
  <input type="text" name="description" placeholder="Description">
  <input type="submit" value="Submit">
</form>