<h1>Makersbnb</h1>

<h2>Add a new venue to the website</h2>

<form action="/venues/add" method="post">
  <label for="venue_name">
    Venue name
    <input type="text" name="venue_name" placeholder="enter venue name">
  </label>
  <br>
  <label for="description">
    Venue description
    <input type="text" name="description" placeholder="enter description">
  </label>
  <br>
  <label for="price_per_night">
    Price per night
    <input type="text" name="price_per_night" placeholder="enter price per night">
  </label>
  <br>
  <label for="date">
    Date
    <input type="text" name="date" placeholder="enter a single date that the venue is available">
  </label>
  <input type="submit" value="Submit">
</form>
